h1 {
    text-align: center;
    min-width: 30px;
    padding: 10px;
}

p {
    text-align: center;
    min-width: 30px;
    padding: 8px;
}

div {
    justify-content: center;
    display: flex;
}
